<footer class="footer bg-dark py-3 mt-auto fixed-bottom">
  <div class="container">
    <span class="text-muted row justify-content-center"
      >&copy; Clinic-Schedule</span
    >
  </div>
</footer>
