<% layout('layouts/boilerplate')%>

<div class="d-flex justify-content-evenly">
  <form
    action="/doctors/<%= foundDoctor._id %>/clinicPage"
    method="POST"
    class="needs-validation"
    enctype="multipart/form-data"
    novalidate
  >
    <div class="row mb-3">
      <div class="col-12">
        <label for="Comment">Comment</label>
        <input
          type="text"
          id="Comment"
          name="Comment"
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <label for="Image">Image</label>
        <input
          type="file"
          id="Image"
          name="Image"
          class="form-control"
          multiple
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>
    <!-- <input type="file" name="image2" id="image2" /> -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
