<% layout('layouts/boilerplate')%>

<div class="d-flex justify-content-evenly">
  <form action="/login" method="POST" class="needs-validation" novalidate>
    <div class="row mb-3">
      <div class="col-12">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>

    <div class="mb-3 col-2">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
