<% layout('layouts/boilerplate')%>

<div id="map" style="width: 400px; height: 300px"></div>
<script>
    mapboxgl.accessToken = "<%-process.env.MAPBOX_TOKEN%>";
    const foundDoctor = <%- JSON.stringify(foundDoctor) %>
    const map = new mapboxgl.Map({
      container: "map", // container ID
      style: "mapbox://styles/mapbox/streets-v12", // style URL
      // center: [-74.5, 40], // starting position [lng, lat]
      center: foundDoctor.geometry.coordinates, // starting position [lng, lat]
      zoom: 15, // starting zoom
    });

  new mapboxgl.Marker()
      .setLngLat(foundDoctor.geometry.coordinates)
      .setPopup(
        new mapboxgl.Popup({offset: 25})
            .setHTML(
                `<h3>${foundDoctor.name}</h3>`
            )
        )

      .addTo(map)
</script>
