<% layout('layouts/boilerplate')%>

<div class="d-flex justify-content-evenly">
  <form action="/register" method="POST" class="needs-validation" novalidate>
    <div class="row mb-3">
      <div class="col-12">
        <label for="name" class="form-label">Clinic Name</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <label for="specialize" class="form-label">Specialize</label>
        <input
          type="text"
          id="specialize"
          name="specialize"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input
          type="number"
          name="phoneNumber"
          id="phoneNumber"
          placeholder="First phone"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a phone-number.</div>
      </div>

      <div class="col-md-6">
        <label for="phoneNumber2" class="form-label">Phone Number 2</label>
        <input
          type="number"
          name="phoneNumber2"
          id="phoneNumber2"
          placeholder="Second phone"
          class="form-control"
        />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <label for="address" class="form-label">Address</label>
        <input
          type="text"
          id="address"
          name="address"
          class="form-control"
          required
        />
      </div>
    </div>

    <div class="mb-3 col-2">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
</div>
